<h1>Log in</h1>

{% if error %}
<p><strong> Unknown user or wrong password. </strong></p>
{% endif %}

{% if user.is_authenticated %}
<div style="text-align : right ; font-size:100%">
<a style = "color:red" href="{% url 'logout' %}"> Log out </a>
</div>

<h2> You are already connected, {{ user.username }} ! </h2>
<br> <br>

<a style="font-size:200%" ; href="{% url 'projects' user=user.id %}"> My projects </a>
{% else %}

<form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login" />
</form>
{% endif %}