<form  enctype="multipart/form-data" method="post" action="." >
    {% csrf_token %}

        {% for p in projects %}
        <input type="radio" id="{{p.name}}" name="project" value="{{p.name}}">
        <label for="{{p.name}}"> {{p.name}} </label><br>
        {%endfor%}
        <input type="submit" value="Submit">
    <br><br>
    <label for="name"> Name : </label>
    <input type="text" id="name" name="name" value="{{task.name}}"> <br><br>
    <label for="description"> Description : </label>
    <input type="text" id="description" name="description" value="{{task.description}}"> <br><br>

    {% for a in users %}
        <input type="radio" id="{{a.username}}" name="{{a.username}}" value="{{a.username}}">
        <label for="{{a.username}}"> {{a.username}} </label><br>
        {%endfor%} <br><br>

    <label for="start_date"> Start date </label>
    <input type="date" id="start_date" name="start_date" value="{{task.star_date}}"> <br><br>
    <label for="due_date"> Due date : </label>
    <input type="date" id="due_date" name="due_date" value="{{task.due_date}}"> <br><br>
     <label for="description"> Priority : </label>
    <input type="text" id="priority" name="priority" value="{{task.priority}}"> <br><br>

    {% for s in status %}
        <input type="radio" id="{{s.name}}" name="{{s.name}}" value="{{s.name}}">
        <label for="{{s.name}}"> {{s.name}} </label><br>
        {%endfor%}
    <br><br>
    <input type="submit" value="Submit">
</form>
