<html>
<head>
    <style>
    a:visited {color:mediumvioletred}
    a:link { color:black;

    }
        table { font-size:150%;
            padding : 50px}
        td { padding: 20px;}
    </style>
</head>
</html>

<div style="text-align : right ; font-size:200%">
<a style="color:red" href="{% url 'logout' %}"> Log out </a>
    </div>

<div style = "background-color:lightgrey">
<h1 style="font-size:500%"> <strong> {{projet.name}} </strong></h1>
</div>

<table>
    <tr>
        <td> Task </td>
        <td>  Assignee </td>
        <td> Start date </td>
        <td> Due date </td>
    </tr>
    {% for t in tasks %}
    <tr> <td><a href="{% url 'task' ide=t.id %}"> <strong>{{t.name}} </strong> </a> </td>
    <td> {{t.assignee}}</td>
    <td> {{t.start_date}}</td>
    <td> {{t.due_date}}</td>
    </tr>
    {% endfor %}
</table>

<a style="font-size:200%"; href="{% url 'newtask' %}"> + : Create a new task </a>