<html>
<head>
    <style>
    a:visited {color:mediumvioletred}
    a:link { color:black;

    }
    </style>
</head>
</html>

<div style="text-align : right ; font-size:200%">
<a style="color:red" href="{% url 'logout' %}"> Log out </a>
    </div>

<div style = "background-color:lightgrey">
<h1 style="font-size:500%"> <strong> {{projet.name}} </strong></h1>
</div>

<ul>
    {% for t in tasks %}
    <li> <a style="font-size:200%"; href="{% url 'task' ide=t.id %}"> {{t.name}} </a> </li>
    {% endfor %}
</ul>

<a style="font-size:200%"; href="{% url 'newtask' %}"> + : Create a new task </a>