<table>
    <tr>
        <td>
        Assignee
        </td>
        <td>
            Project
        </td>
        <td>
            Task
        </td>
        <td>
            Start date
        </td>
        <td>
            Due date
        </td>
        <td>
            Priority
        </td>
        <td>
            Status
        </td>
    </tr>
        <td>
            {{task.assignee}}
        </td>
        <td>
            {{task.project}}
        </td>
        <td>
            {{task.description}}
        </td>
        <td>
            {{task.start_date}}
        </td>
        <td>
            {{task.due_date}}
        </td>
        <td>
            {{task.priority}}
        </td>
        <td>
            {{task.status}}
        </td>
    <tr>

    </tr>
</table>

{% for j in journal %}
    <p>
        {{j.author}} :
        {{j.entry}} at {{j.date}}.
    </p>
{% endfor %}