<html>
<head>
    <style>
table {
    border : 1px solid black ;
    border-collapse:collapse ;
    width:50%;
    height:50%;
    text-align:center;
    font-size:200%;
}
td {
    padding :15px ;
    border : 1px solid black ;
    border-collapse:collapse;
}
        tr {
            border : 1px solid black ;
            border-collapse : collapse ;
        }
    </style>
</head>
<body>
<div style="text-align : right ; font-size:200%">
<a style="color:red" href="{% url 'logout' %}"> Log out </a>
    </div>
<div style="background-color : lightgrey">
<a style="text-align:center ; font-size:400% ; color:blue" href="{%url 'detail_project' ident=p.id%}"> {{p.name}}</a>
</div>
<br>
<table>
    <tr>
        <td>
           <i>Name</i>
        </td>
        <td>
            <strong> {{task.name}} </strong>
        </td>
    </tr>
    <tr>
        <td>
            <i>Projet</i>
        </td>
        <td>
            <a style="color:black" href="{%url 'detail_project' ident=p.id%}" > {{task.project}} </a>
        </td>
    </tr>
    <tr>
        <td>
            <i>Description</i>
        </td>
        <td>
            {{task.description}}
        </td>
    </tr>
    <tr>
        <td>
            <i>Assignee</i>
        </td>
        <td>
            {{task.assignee}}
        </td>
    </tr>
    <tr>
        <td>
            <i>Start date</i>
        </td>
        <td>
            {{task.start_date}}
        </td>
    </tr>
    <tr>
        <td>
            <i>Due date</i>
        </td>
        <td>
            {{task.due_date}}
        </td>
    </tr>
    <tr>
        <td>
            <i>Priority</i>
        </td>
        <td>
            {{task.priority}}
        </td>
    </tr>
    <tr>
        <td>
            <i>Status</i>
        </td>
        <td>
            {{task.status}}
        </td>
    </tr>

</table>
<br><br>
<a style = "font-size:200%" href="{% url 'edittask' ide=task.id %}"> Modify the task </a> <br><br>

<form  enctype="multipart/form-data" method="post" action= "." >
       {% csrf_token %}
        {{form.as_p}}
       <input type="submit" value="Submit" />
    </form>
<div style="background-color : lightblue">
{% if show %}
<h2> Journal : </h2>
{% for j in journal %}
    <p style="font-size : 150%">
        <i><u>{{j.author}} </u></i> :
        <span style="color:purple"> <b>{{j.entry}} </b> </span> <i>at {{j.date}}.</i>
    </p>
{% endfor %}
{%endif %}
</div>

</body>
</html>

